<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="./css/style.css">

    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>
    <!--- NAVIGATION START-->
    <nav class="navbar" role="navigation" aria-label="main navigation" id="dashboard-top-menu">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            Log in
                        </a>
                        <a class="button is-primary">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!---NAVIGATION END-->
    <div class="columns" #main-dashboard-container>
        <!---SIDE MENU START-->


    </div>

    <!---SIGNIN -->
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <div class="box">
                <div class="logo-form">
                    <img src="./img/benban.png" alt="">
                </div>
                <h1 class="title">Login</h1>
                <form>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input v-model="emailLogin" class="input" type="email" placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input v-model="passwordLogin" class="input" type="password" placeholder="Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field is-grouped">
                        <p class="control">
                            <a v-on:click="login" class="button is-primary">
                                Sign In
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="title is-3">Products</h1>
        <!-- Products Container -->
        <div id="app" class="row columns is-multiline">
            <!-- Product Card -->
            <div class="column is-3">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/61ZLXgw4f-L._AC_SL1001_.jpg"
                                alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p class="title is-5 no-padding">Magical Lamp of The Night</p>
                        </div>
                        <div class="content">
                            <p class="title is-6" style="color: gray;">Rp.200000</p>
                        </div>
                    </div>
                    <div class="box has-text-centered">
                        <button class="button" style="background-color: rgb(138, 108, 70); color:white;">Add to
                            cart</button>
                    </div>
                </div>
            </div>
            <!--End of Product Card-->
            <!-- Product Card -->
            <div class="column is-3">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/61ZLXgw4f-L._AC_SL1001_.jpg"
                                alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p class="title is-5 no-padding">Magical Lamp of The Night</p>
                        </div>
                        <div class="content">
                            <p class="title is-6" style="color: gray;">Rp.200000</p>
                        </div>
                    </div>
                    <div class="box has-text-centered">
                        <button class="button" style="background-color: rgb(138, 108, 70); color:white;">Add to
                            cart</button>
                    </div>
                </div>
            </div>
            <!--End of Product Card-->
            <!-- Product Card -->
            <div class="column is-3">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/61ZLXgw4f-L._AC_SL1001_.jpg"
                                alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p class="title is-5 no-padding">Magical Lamp of The Night</p>
                        </div>
                        <div class="content">
                            <p class="title is-6" style="color: gray;">Rp.200000</p>
                        </div>
                    </div>
                    <div class="box has-text-centered">
                        <button class="button" style="background-color: rgb(138, 108, 70); color:white;">Add to
                            cart</button>
                    </div>
                </div>
            </div>
            <!--End of Product Card-->
            <!-- Product Card -->
            <div class="column is-3">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/61ZLXgw4f-L._AC_SL1001_.jpg"
                                alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p class="title is-5 no-padding">Magical Lamp of The Night</p>
                        </div>
                        <div class="content">
                            <p class="title is-6" style="color: gray;">Rp.200000</p>
                        </div>
                    </div>
                    <div class="box has-text-centered">
                        <button class="button" style="background-color: rgb(138, 108, 70); color:white;">Add to
                            cart</button>
                    </div>
                </div>
            </div>
            <!--End of Product Card-->
            <!-- Product Card -->
            <div class="column is-3">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/61ZLXgw4f-L._AC_SL1001_.jpg"
                                alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p class="title is-5 no-padding">Magical Lamp of The Night</p>
                        </div>
                        <div class="content">
                            <p class="title is-6" style="color: gray;">Rp.200000</p>
                        </div>
                    </div>
                    <div class="box has-text-centered">
                        <button class="button" style="background-color: rgb(138, 108, 70); color:white;">
                            <i class="fas fa-cart-plus"> </i>
                            <p> Add to cart</p>
                        </button>
                    </div>
                </div>
            </div>
            <!--End of Product Card-->


        </div>
        <!--End of products Container-->

        <!--  MAIN DASHBOARD AREA START-->
        <div class="box columns">
            <!---SIDE MENU START-->
            <div class="column is-2">
                <aside class="menu" id="dashboard-side-menu">
                    <p class="menu-label">
                        My Profile
                    </p>
                    <ul class="menu-list">
                        <li><a><i class="fas fa-users"></i> Edit Profile</a></li>
                    </ul>
                    <p class="menu-label">
                        Shopping
                    </p>
                    <ul class="menu-list">
                        <li><a><i class="fas fa-shopping-bag"></i> My Shopping Cart</a></li>
                        <li><a><i class="fas fa-plus-square"></i> Wishlist</a></li>
                        <li><a><i class="fas fa-plus-square"></i> Transaction History</a></li>
                    </ul>
                </aside>
            </div>

            <!--SIDE MENU END-->
            <div class="column" id="main-area">
                <table class="table">
                    <thead>
                        <th>No</th>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sub-total</th>
                        <th>Decrease/ remove</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img class="image is-64x64"
                                    src="https://m.media-amazon.com/images/I/81Mty84-ttL._AC_UL320_.jpg"
                                    alt="product-name">
                            </td>
                            <td><strong>Dual USB Table Lamp, Kakanuo Traditional Bedside Lamp</strong></td>
                            <td>3000000</td>
                            <td>x 9</td>
                            <td>Rp.27000000</td>
                            <td>
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </td>
                        </tr>


                    </tbody>

                </table>
                <hr>
                <div class="columns">
                    <div class="column">
                        <p>
                            Grand Total
                        </p>
                        <p class="is-size-5">
                            <strong>Rp.30000000</strong>
                        </p>
                    </div>
                    <div class="column">
                        <button class="button is-primary is-pulled-right is-medium"
                            style="background-color: rgb(138, 108, 70); color:white" ;>
                            <i class="fas fa-cart-plus"> </i>
                            Checkout
                        </button>
                    </div>
                </div>
                <hr>


            </div>
        </div>



    </div>

</body>

</html>