<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>E-commerce-layout</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />
		<!-- Bulma Version 0.9.0-->
		<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
	</head>
	<body>
		<!--LOGIN-->
		<div class="loginPage">
			<section class="hero is-fullheight">
				<div class="hero-body">
					<div class="container">
						<div class="columns is-centered">
							<div class="column is-6">
								<p class="title has-text-centered mb-3">Welcome to Going Out of Bussiness</p>
								<p class="subtitle-5 has-text-centered mb-2">Please Login</p>
								<form class="box" @submit.prevent="postLogin">
									<div class="field">
										<label for="" class="label">Email</label>
										<div class="control has-icons-left">
											<input
												type="email"
												placeholder="user@mail.com"
												class="input"
												required
												v-model="email"
											/>
											<span class="icon is-small is-left">
												<i class="fa fa-envelope"></i>
											</span>
										</div>
									</div>
									<div class="field">
										<label for="" class="label">Password</label>
										<div class="control has-icons-left">
											<input
												type="password"
												placeholder="1234"
												class="input"
												required
												v-model="password"
											/>
											<span class="icon is-small is-left">
												<i class="fa fa-lock"></i>
											</span>
										</div>
									</div>
									<div class="field">
										<button type="submit" class="button is-primary">Login</button>
										<button type="submit" class="button is-primary">Register</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!--LOGIN END-->

		<!--REGISTER-->
		<section id="registration-form" class="container mt-6" style="width: 60%">
			<h1 class="title is-2 has-text-centered">Registration</h1>
			<form>
				<div class="field">
					<label class="label">Email</label>
					<div class="control has-icons-left has-icons-right">
						<input class="input" type="email" placeholder="Email input" required />
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
					</div>
				</div>

				<div class="field">
					<label class="label">Password</label>
					<p class="control has-icons-left has-icons-right">
						<input class="input" type="password" placeholder="Password" required />
						<span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
					</p>
				</div>

				<div class="field">
					<label class="label">Display Name</label>
					<div class="control has-icons-left has-icons-right">
						<input class="input" type="text" placeholder="Display Name" required />
						<span class="icon is-small is-left">
							<i class="fas fa-user"></i>
						</span>
					</div>
				</div>

				<div class="field is-grouped">
					<div class="control">
						<button type="submit" class="button is-primary">Submit</button>
					</div>
					<div class="control">
						<button class="button is-primary">Cancel</button>
					</div>
				</div>
			</form>
		</section>
		<!--REGISTER END-->

		<!--NAVBAR-->
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="https://bulma.io">
					<img src="https://avatars.dicebear.com/api/gridy/1234.svg" width="36" height="28" />
					<p>Welcome User</p>
				</a>

				<a
					role="button"
					class="navbar-burger burger"
					aria-label="menu"
					aria-expanded="false"
					data-target="navbarBasicExample"
				>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item"> Home </a>
				</div>

				<div class="navbar-end">
					<div class="navbar-item">
						<a class="navbar-item"><i class="fas fa-cloud"></i> WishList </a>
						<a class="navbar-item"><i class="fas fa-shopping-cart"></i> Cart </a>
						<div class="buttons">
							<a class="button is-primary"> Log Out </a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!--NAVBAR END-->

		<!--Main Content-->
		<div class="container"></div>
		<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
	</body>
</html>
